@use "../../../../variables.scss";

.result-list-item {
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    filter: grayscale(75%);
    transition: filter 0.3s ease;
  }

  div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px;
    transition: opacity 0.3s ease;
  }

  button {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: opacity 0.3s ease;
  }

  &:hover {
    img {
      filter: grayscale(0%);
    }

    div {
      opacity: 0;
    }

    button {
      display: block;
    }
  }
}
