@use "../../../../../variables.scss";

.result-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: variables.$base-spacing * 2;

  .list-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    gap: variables.$base-spacing * 2;

    .item {
      width: 200px;
    }
  }
}
