<h1>Welcome {{ username }}!</h1>
<div>
  <h2>TODO</h2>
  <ol>
    <li>Search media page</li>
    <li>Add media to watch list</li>
    <li>Persist watch list</li>
    <li>Display watch list on home page</li>
  </ol>
</div>
<form [formGroup]="searchForm" (ngSubmit)="search()">
  <app-shared-reactive-input
    [group]="searchForm"
    controlName="query"
    placeholder="Search media"
  ></app-shared-reactive-input>
  <button
    mat-fab
    extended
    color="primary"
    type="submit"
    [disabled]="searchForm.invalid"
  >
    <mat-icon>search</mat-icon>
    Search
  </button>
</form>
